body{
    margin: 0;
    padding: 0;
}

#dashboard-header{
    display: flex;
    height: 100vh;
    width: 100%;
    flex: 1;
}

#sidebar{
    flex: 0 0 250px;
    border: 2px solid black;
    padding: 20px;
    position: sticky;
    top: 0;
}

.sidebar-close{
    display: none;
}

/* #toggle-sidebar{
    display: inline;
    font-size: x-large;
} */



#nav-header{
    border: 2px solid black;
    height: 50px;
    padding: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}


.toggle-the-bar{
    cursor: pointer;
    font-size: 20px;
}
.nav-side{
    display: flex;
    gap: 30px;
}
#content{
    width: 100%;
}

.nav-last{
    display: flex;
    padding: 5px;
    gap: 10px;
}


.dash-page{
    display: flex;
    flex-direction: column;
}
.top{
    display: flex;
    height: 100px;
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;
}
.top div{
    border: 2px solid blue;
    width: 180px;
    height: 75px;
    text-align: center;
}
.middle{
    display: flex;
    flex-direction: row;
    width: 100%;
    /* border: 2px solid red; */
    height: 400px;
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;
}
.middle div{
    border: 2px solid blue;
    flex: 1;
    height: 310px;
    gap: 50px;
}
.bottom{
    display: flex;
    height: auto;
    margin-top: 20px;

}
.bottom div{
    border: 2px solid blue;
    flex: 1;
    min-height: 60px;
    max-height: fit-content;
    
    gap: 50px;
}

.current-box{
    background-color: gray;
}

.income-box{
    background-color: rgb(50, 232, 50);
}

.expense-box{
    background-color: rgb(252, 63, 63);
}

.sidebar-link{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 20px;
}
.sidebar-link a{
    padding: 10px;
    border: 2px solid red;
   
}
.sidebar-link a:hover{
    background-color: rgb(199, 192, 192);
    cursor: pointer;
}

#recent-title{
    display: flex;
    justify-content: space-between;
}
#recent-content{
    display: flex;
    justify-content: space-between;
}